body {
  font-family: "Cairo", sans-serif;
}

header {
  background-image: linear-gradient(to right, #ffd54f, #ffca28);
}

.card img {
  height: 220px;
  object-fit: cover;
}

.card {
  border-radius: 10px;
}

footer {
  font-size: 14px;
}
